allow rild proc_net:file { getattr open read write };
allow rild sysfs_sec:file { getattr open read write };
allow rild self:capability { dac_override dac_read_search };
