#============= priv_app ==============
allow priv_app sysfs:file { open read };

#============= qti_init_shell ==============
allow qti_init_shell bluetooth_efs_file:dir search;
allow qti_init_shell bluetooth_efs_file:file { open read };
allow qti_init_shell toolbox_exec:file getattr;

#============= system_server ==============
allow system_server dalvikcache_data_file:file execute;
