allow hal_power_default sysfs:file write;
allow hal_power_default sysfs_input:dir search;
allow hal_power_default sysfs_input:file { write open };
